@media (max-width: 1150px) {
  .aside-box {
    width: 80%;
    height: 100vh;
    padding: 2rem;
    background: linear-gradient(-100deg, skyblue, darkslateblue);
    padding: 2rem 5rem;
    position: fixed;
    left: -100%;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 999;
  }

  .menu-box {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    z-index: 9999;
    display: flex;
  }

  .main {
    position: relative;
    left: 0;
  }

  .toggle .aside-box {
    position: absolute;
    left: 0;
  }

  .toggle .open {
    display: none;
  }

  .toggle .close {
    display: block;
  }

  .open {
    display: initial;
  }

  .close {
    display: none;
  }

  .tab-tittle {
    top: -2.5%;
    left: 45rem;
  }

  .two {
    top: -2.5%;
    left: 49rem;
  }

  .three {
    top: -2.5%;
    left: 55rem;
  }

  .tabs:checked + .tab-tittle + .tab-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 880px) {
  .sevices-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 7fr;
  }

  .tab-tittle {
    top: -4%;
    left: 27rem;
  }

  .two {
    top: -4%;
    left: 33rem;
  }

  .three {
    top: -4%;
    left: 40rem;
  }

  .skill-box {
    display: flex;
    flex-direction: column;
  }

  .resume-box {
    display: flex;
    flex-direction: column;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
  }

  .about-info-box {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  
  .tab-tittle {
    top: -4%;
    left: 20rem;
  }

  .two {
    top: -4%;
    left: 24rem;
  }

  .three {
    top: -4%;
    left: 29.5rem;
  }
}

@media (max-width: 600px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tab-tittle {
    top: -5%;
    left: 18rem;
  }

  .two {
    top: -5%;
    left: 22rem;
  }

  .three {
    top: -5%;
    left: 27rem;
  }
}

@media (max-width: 500px) {
  .about-list-box {
    display: flex;
    flex-direction: column;
  }

  .tab-tittle {
    top: -4%;
    left: 15rem;
  }

  .two {
    top: -4%;
    left: 19rem;
  }

  .three {
    top: -4%;
    left: 24.3rem;
  }

  .contact-list-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 2rem 0;
  }

  .tabImage {
    width: 100%;
    min-height: 25vh;
    position: relative;
  }

}

@media (max-width: 421px) {
  .autoType{
    top: 40%;
  }

  .tab-tittle {
    top: -5%;
    left: 10rem;
  }

  .two {
    top: -5%;
    left: 14rem;
  }

  .three {
    top: -5%;
    left: 19rem;
  }

  .contact-list-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 2rem 0;
  }
}

@media (max-width: 400px) {
  .autoType{
    top: 40%;
  }

  .tittle{
    font-size: 2.8rem;
    font-weight: 700;
  }
  
  .tab-tittle {
    top: -3.5%;
    left: 10rem;
  }

  .two {
    top: -3.5%;
    left: 14rem;
  }

  .three {
    top: -3.5%;
    left: 19rem;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    padding: 3rem 10px;
  }

  .contact-list-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 2rem 0;
  }

  .messagename-box {
    display: flex;
    flex-direction: column;
  }

  .messagename {
    width: 100%;
  }

  .tabImage {
    width: 100%;
    min-height: 40vh;
    position: relative;
  }
}

@media (max-width: 370px) {
  .autoType{
    top: 30%;
  }
  
  .tab-tittle {
    top: -5%;
    left: 10rem;
  }

  .two {
    top: -5%;
    left: 14rem;
  }

  .three {
    top: -5%;
    left: 19rem;
  }
}

@media (max-width: 321px) {
  .autoType{
    top: 40%;
  }

  .tittle{
    font-size: 2.5rem;
    font-weight: 700;
  }

  .myName{
    font-size: 1.6rem;
    font-weight: 700;
  }

  .tab-tittle {
    top: -5.5%;
    left: 7rem;
  }

  .two {
    top: -5.5%;
    left: 11rem;
  }

  .three {
    top: -5.5%;
    left: 16rem;
  }
}

@media (max-width: 319px) {
  .menu-box {
    position: absolute;
    top: 2rem;
    right: 5px;
    color: white;
    z-index: 9999;
    display: flex;
  }

  .message-box {
    align-items: center;
  }

  .subject {
    width: 21rem;
  }

  .message {
    width: 20rem;
  }

  .contact-list-box {
    display: flex;
    flex-direction: column;
  }

  
  .tab-tittle {
    top: -2.8%;
    left: 10rem;
  }

  .two {
    top: -2.8%;
    left: 14rem;
  }

  .three {
    top: -2.8%;
    left: 19rem;
  }
}
